<html lang="{{lang}}">
<head>
	<title id="label_title">RocketMap - Nearby Pokémon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Fav- & Apple-Touch-Icons -->
	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/appicons/favicon.ico').lstrip('/') }}" type="image/x-icon">
	<!-- non-retina iPhone pre iOS 7 -->
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/114x114.png').lstrip('/') }}" sizes="57x57">
	<!-- non-retina iPad pre iOS 7 -->
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/144x144.png').lstrip('/') }}" sizes="72x72">
	<!-- non-retina iPad iOS 7 -->
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/152x152.png').lstrip('/') }}" sizes="76x76">
	<!-- retina iPhone pre iOS 7 -->
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/114x114.png').lstrip('/') }}" sizes="114x114">
	<!-- retina iPhone iOS 7 -->
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/120x120.png').lstrip('/') }}" sizes="120x120">
	<!-- retina iPad pre iOS 7 -->
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/144x144.png').lstrip('/') }}" sizes="144x144">
	<!-- retina iPad iOS 7 -->
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/152x152.png').lstrip('/') }}" sizes="152x152">
	<!-- retina iPhone 6 iOS 7 -->
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/180x180.png').lstrip('/') }}" sizes="180x180">
	<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/mobile.min.css').lstrip('/') }}" type="text/css" />
	<!-- Custom CSS code-->
		{% if show.custom_css %}
	<link rel="stylesheet" type="text/css" href="static/css/custom.css">
		{% endif %}
</head>
<body class="mobilePage">
	<h1 id="label_nearby_pokemon">Nearby Pokémon</h1>

	<ol>
{% for pokemon in pokemon_list[:20] %}
{% set img = 'icons/' ~ pokemon.id ~ '.png' -%}
		<li style="list-style-type: none; background-image: url('{{ url_for('static', filename=img).lstrip('/') }}');"
				href='https://maps.google.com/?q={{pokemon.latitude}},{{pokemon.longitude}}&amp;ll={{pokemon.latitude}},{{pokemon.longitude}}'>
				<p>
						<span class="name">{{pokemon.name}}</span><span class="dir"> - {{pokemon.distance}}m ({{pokemon.card_dir}})</span>
						<br>
						<span class="remain" disappear="{{pokemon.disappear_sec}}">{{pokemon.time_to_disappear}}</span>
				</p>
		</li>
{% endfor %}
	</ol>

	<div id="nav">
		<button id="label_button_refresh">Refresh</button>
		<div>
			<label><input type="checkbox" id="use-loc"><span id="label_use_device_location">Use device location</span></label>
		</div>
	</div>

	<!-- Load JS libs before custom scripts. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>var pageLoaded = new Date().getTime();</script>
    <!-- Load custom JS before mobile.js so it can change Store defaults. -->
      {% if show.custom_js %}
    <script src="{{ url_for('static', filename='dist/js/custom.min.js').lstrip('/') }}"></script>
      {% endif %}
	<script src="{{ url_for('static', filename='dist/js/mobile.min.js').lstrip('/') }}"></script>
</body>
</html>
